  /* @import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap'); */
  
  body::after {
    content: "xs";
    color: red;
    font-size: 30px;
    font-weight: 900;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
  }

  .main-img img {
    width: 75%;
  }



  @media (min-width: 576px) {
    body::after {
        content: "sm";
        color: red;
        font-size: 30px;
        font-weight: 900;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 9999;
      }

      .main-text h1 {
        font-size: 5rem;
        line-height: 1;
        margin: 0;
      }

      .main-text h2 {
        font-size: 3rem;
        line-height: 1;
        margin: 0;
      }
  }

  @media (min-width: 768px) {
    body::after {
        content: "md";
        color: red;
        font-size: 30px;
        font-weight: 900;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 9999;
      }


      .main-text h1 {
        font-size: 10rem;
        line-height: 1;
        margin: 0;
      }

      .main-text h2 {
        font-size: 5rem;
        line-height: 1;
        margin: 0;
      }

      .main-img img {
        width: 50%;
      }

  }

  @media (min-width: 992px) {
    body::after {
        content: "lg";
        color: red;
        font-size: 30px;
        font-weight: 900;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 9999;
      }

      .main-text h1 {
        font-size: 5rem;
        line-height: 1;
        margin: 0;
      }

      .main-text h2 {
        font-size: 3rem;
        line-height: 1;
        margin: 0;
      }

      /* .main-img img {

      } */
  }
  
  @media (min-width: 1200px) {
    body::after {
        content: "xl";
        color: red;
        font-size: 30px;
        font-weight: 900;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 9999;
      }



      .main-text h1 {
        font-size: 10rem;
        line-height: 1;
        margin: 0;
      }

      .main-text h2 {
        font-size: 100px;
        line-height: 1;
        margin: 0;
      }
  }
  
  @media (min-width: 1400px) {
    body::after {
        content: "xxl";
        color: red;
        font-size: 30px;
        font-weight: 900;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 9999;
      }
  }
  
  
  
  
  
  
  
  * {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Pepsi Owners 2";
}

img {
    max-width: 100%;
}

a {
    text-decoration: inherit;
    color: inherit;
}






body {
    background-color: #000;
    color: #fff;
    /* height: 100vh; Full viewport height */
}



.hero-section {
    background-image: url(img/landing-hero-bg.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 200%;
    /* height: 250px; */
    /* width: auto; */
}

.learn-more {
    background-image: url(img/gno-prep-bg\ \(1\).jpeg);
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


@media (min-width: 1280px) {
    .xlbottom {
        bottom: 100px;
    }
}


@media (min-width: 1024px) {
.lg-pt-0, .lg-py-0 {
padding-top: 0;
}


}

.pt-20{
padding-top: 5rem;
}
.pb-20{
padding-bottom: 5rem;
}
.min-h-main {
min-height: calc(100vh - 83px);
}



.middle {
    vertical-align: middle;
}